# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User stuff
## IntelliJ IDEA files
.idea/
## CMake, Make and all user things
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
/*build*
*.kdev4
.trash/
*.conf
aelliptic-bot
